@charset "UTF-8";



/* 200129 LSK 바코드 출력 메뉴-라벨 미리보기 항목 CSS */

#capture{
	background-color: #f5f5f5; 
	overflow-y: auto; 
	border: 1px solid #f5f5f5; 
}

#preview-productLabel{
	background-color: #ffffff;
	font-family: 'Malgun Gothic';
	font-weight: bold;
	margin: auto;
	width:520px;
	height: 360px; 
	padding-top:10px;
}

#preview-text{
	margin: 15px 30px;
}

#preview-text-table td{
	border:2px solid black;	
	line-height : 1.6em;
}