@charset "euc-kr";
/* CSS Document */

/*HJJO 20181122*/
.content{background:#fff; height:auto; width:1670px;}

/*HJJO 20181122*/
.content-container{height:100% !important;}


/*HJJO 20181122 POP Dashboard 진행중인 task*/
td.ing{
	background:#2769ba;
}

.today{
	margin-bottom: 30px;
}

.mesGreenLine{
	border-top: 6px solid green;
	border-right: 6px solid green;
	height:20px;
}

.mesRedLine{
	border-top: 6px solid #cc0000;
	border-right: 6px solid #cc0000;
	height:20px;
}

.hor_line_G{
	border-top: 6px solid green;
}

.hor_line_R{
	border-top: 6px solid #cc0000;
}

.ver_line1_G{
	border-left: 4px solid green;
	height:20px;
	position:relative; 
    left: 50%; 
}

.ver_line1_R{
	border-left: 4px solid #cc0000;
	height:20px;
	position:relative; 
    left: 50%; 
}

.ver_line2_G{
	border-left: 4px solid green;
	height: 20px;
	position:relative; 
    left: 50%; 
}

.ver_line2_R{
	border-left: 4px solid #cc0000;
	height: 20px;
	position:relative; 
    left: 50%; 
}

/* DARK MODE TEST END */
/* 작을때 */
@media screen and (max-width:1200px) {
	.IGS_G_D{
	margin-left :auto;
	margin-right :auto;
	width : 30%;
	text-align: center;
	border: 3px solid green;
	color : white;
	font-size: 1em;
	font-weight: bold;
	background-color : #339966;
}

.IGS_R_D{
	margin-left :auto;
	margin-right :auto;
	width : 30%;
	text-align: center;
	border: 3px solid #cc0000;
	color : white;
	font-size: 1em;
	font-weight: bold;
	background-color : #ff3333;
}

.infobox_G_D{
	border : 3px solid green;
	color : white;
	font-size: 1.2em;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 20px;
}

.infobox_R_D{
	border : 3px solid #cc0000;
	color : white;
	font-size: 1.2em;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 20px;
}

.equ_name_G_D{
	border-bottom : 3px solid green;
	background-color : #339966;
	height : 20%;
	text-align: center;
	color : white;
	font-weight: bold;
}

.equ_name_R_D{
	border-bottom : 3px solid #cc0000;
	background-color : #ff3333;
	height : 20%;
	text-align: center;
	color : white;
	font-weight: bold;
}

#dashboardTable_D{
	width: 100%;
	border-collapse: collapse;
	color: #666;
	table-layout: fixed;
	text-align: center;
	
	/*box-shadow:0px 0 10px rgba(0,0,0,0.2);*/ 
	background:#fff;
	border:0px;
	/*border-radius:20px;*/
	padding:10px;
}

#dashboardTable_D td {
	font-size:0.5em;
	border: 0px solid #c2cdd2;
	border-bottom:1px dashed #d6d8d8;
	border-left:1px dotted #dedede;
	background-color : #202930;
	color : white;
	text-align:center;
	padding: 10px 5px;
    overflow: hidden;
    /* text-overflow: ellipsis; */
    white-space: nowrap;
	font-weight: bold;
    /*background:#fff;*/
	}

#dashboardTable_D td:first-child {
	font-weight: bold;
}
.badge-normal {
  display: inline-block;
  min-width: 8px;
  padding: 3px 4px;
  font-size: 0.7em;
  font-weight: bold;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  background-color: #777;
  border-radius: 10px;
}
.badge-danger {
  display: inline-block;
  min-width: 8px;
  padding: 3px 4px;
  font-size: 0.7em;
  font-weight: bold;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  background-color: #c9302c;
  border-radius: 10px;
}

.badge-success {
  display: inline-block;
  min-width: 8px;
  padding: 3px 4px;
  font-size: 0.7em;
  font-weight: bold;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  background-color: #3c763d;
  border-radius: 10px;
}

.today{
  color:white; 
  text-align: center; 
  font-size:0.9em; 
  font-weight: bold;
}

.pagename{
	 color:white; 
	 text-align: center; 
	 font-size:1.3em; 
	 font-weight: bold;
}

.h2Caption{
	font-size: 1.5em;
}

.h2Title{
	font-size: 1.5em;
}

.h2Content{
	font-size: 1.5em;
	
}

}

/* 보통화면 */
@media screen and (min-width:1201px) and (max-width:1281px) {
	.IGS_G_D{
	margin-left :auto;
	margin-right :auto;
	width : 30%;
	text-align: center;
	border: 4px solid green;
	color : white;
	font-size: 1.5em;
	font-weight: bold;
	background-color : #339966;
}

.IGS_R_D{
	margin-left :auto;
	margin-right :auto;
	width : 30%;
	text-align: center;
	border: 4px solid #cc0000;
	color : white;
	font-size: 1.5em;
	font-weight: bold;
	background-color : #ff3333;
}

.infobox_G_D{
	border : 4px solid green;
	color : white;
	font-size: 2em;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 20px;
}

.infobox_R_D{
	border : 4px solid #cc0000;
	color : white;
	font-size: 2em;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 20px;
}

.equ_name_G_D{
	border-bottom : 4px solid green;
	background-color : #339966;
	height : 25%;
	text-align: center;
	color : white;
	font-weight: bold;
}

.equ_name_R_D{
	border-bottom : 4px solid #cc0000;
	background-color : #ff3333;
	height : 25%;
	text-align: center;
	color : white;
	font-weight: bold;
}

#dashboardTable_D{
	width: 100%;
	border-collapse: collapse;
	color: #666;
	table-layout: fixed;
	text-align: center;
	
	/*box-shadow:0px 0 10px rgba(0,0,0,0.2);*/ 
	background:#fff;
	border:0px;
	/*border-radius:20px;*/
	padding:10px;
}

#dashboardTable_D td {
	font-size:0.7em;
	border: 0px solid #c2cdd2;
	border-bottom:1px dashed #d6d8d8;
	border-left:1px dotted #dedede;
	background-color : #202930;
	color : white;
	text-align:center;
	padding: 10px 5px;
    overflow: hidden;
    /* text-overflow: ellipsis; */
    white-space: nowrap;
	font-weight: bold;
    /*background:#fff;*/
	}

#dashboardTable_D td:first-child {
	font-weight: bold;
}
.badge-normal {
  display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: bold;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  background-color: #777;
  border-radius: 10px;
}
.badge-danger {
  display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: bold;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  background-color: #c9302c;
  border-radius: 10px;
}

.badge-success {
  display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: bold;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  background-color: #3c763d;
  border-radius: 10px;
}

.today{
  color:white; 
  text-align: center; 
  font-size:1.2em; 
  font-weight: bold;
}

.pagename{
	 margin-bottom : 50px;
	 color:white; 
	 text-align: center; 
	 font-size:1.6em; 
	 font-weight: bold;
}

.h2Caption{
	font-size: 2.2em;
}

.h2Title{
	font-size: 2.3em;
}

.h2Content{
	font-size: 2.3em;
	
}
}

/* 클때 */
@media screen and (min-width:1282px) {
	
	.IGS_G_D{
	margin-left :auto;
	margin-right :auto;
	width : 30%;
	text-align: center;
	border: 4px solid green;
	color : white;
	font-size: 1.5em;
	font-weight: bold;
	background-color : #339966;
}

.IGS_R_D{
	margin-left :auto;
	margin-right :auto;
	width : 30%;
	text-align: center;
	border: 4px solid #cc0000;
	color : white;
	font-size: 1.5em;
	font-weight: bold;
	background-color : #ff3333;
}

.infobox_G_D{
	border : 4px solid green;
	color : white;
	font-size: 2em;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 20px;
}

.infobox_R_D{
	border : 4px solid #cc0000;
	color : white;
	font-size: 2em;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 20px;
}

.equ_name_G_D{
	border-bottom : 4px solid green;
	background-color : #339966;
	height : 25%;
	text-align: center;
	color : white;
	font-weight: bold;
}

.equ_name_R_D{
	border-bottom : 4px solid #cc0000;
	background-color : #ff3333;
	height : 25%;
	text-align: center;
	color : white;
	font-weight: bold;
	}

#dashboardTable_D{
	width: 100%;
	border-collapse: collapse;
	color: #666;
	table-layout: fixed;
	text-align: center;
	
	/*box-shadow:0px 0 10px rgba(0,0,0,0.2);*/ 
	background:#fff;
	border:0px;
	/*border-radius:20px;*/
	padding:10px;
}

#dashboardTable_D td {
	font-size:0.7em;
	border: 0px solid #c2cdd2;
	border-bottom:1px dashed #d6d8d8;
	border-left:1px dotted #dedede;
	background-color : #202930;
	color : white;
	text-align:center;
	padding: 10px 5px;
    overflow: hidden;
    /* text-overflow: ellipsis; */
    white-space: nowrap;
	font-weight: bold;
    /*background:#fff;*/
	}

#dashboardTable_D td:first-child {
	font-weight: bold;
}
.badge-normal {
  display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: bold;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  background-color: #777;
  border-radius: 10px;
}
.badge-danger {
  display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: bold;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  background-color: #c9302c;
  border-radius: 10px;
}

.badge-success {
  display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: bold;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  background-color: #3c763d;
  border-radius: 10px;
}

.today{
  color:white; 
  text-align: center; 
  font-size:1.2em; 
  font-weight: bold;
}

.pagename{
	 margin-bottom : 40px;
	 color:white; 
	 text-align: center; 
	 font-size:2em; 
	 font-weight: bold;
}

.h2Caption{
	font-size: 2.2em;
}

.h2Title{
	font-size: 2.3em;
}

.h2Content{
	font-size: 2.3em;
	
}
}

/* DARK MODE TEST END */

.IGS_G{
	margin-left :auto;
	margin-right :auto;
	width : 30%;
	text-align: center;
	border: 4px solid green;
	font-size: 1.5em;
	font-weight: bold;
	background-color : #339966;
}

.IGS_R{
	margin-left :auto;
	margin-right :auto;
	width : 30%;
	text-align: center;
	border: 4px solid #cc0000;
	font-size: 1.5em;
	font-weight: bold;
	background-color : #ff3333;
}

.infobox_G{
	border : 4px solid green;
	font-size: 2em;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 20px;
}

.infobox_R{
	border : 4px solid #cc0000;
	font-size: 2em;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 20px;
}

.equ_name_G{
	border-bottom : 4px solid green;
	background-color : #339966;
	height : 25%;
	text-align: center;
	font-weight: bold;
}

.equ_name_R{
	border-bottom : 4px solid #cc0000;
	background-color : #ff3333;
	height : 25%;
	text-align: center;
	font-weight: bold;
}

#dashboardTable{
	width: 100%;
	border-collapse: collapse;
	color: #666;
	table-layout: fixed;
	text-align: center;
	
	/*box-shadow:0px 0 10px rgba(0,0,0,0.2);*/ 
	background:#fff;
	border:0px;
	/*border-radius:20px;*/
	padding:10px;
}

#dashboardTable td {
	font-size:0.7em;
	border: 0px solid #c2cdd2;
	border-bottom:1px dashed #d6d8d8;
	border-left:1px dotted #dedede;
	text-align:center;
	padding: 10px 5px;
    overflow: hidden;
    /* text-overflow: ellipsis; */
    white-space: nowrap;
    /*background:#fff;*/
}

#dashboardTable td:first-child {
	font-weight: bold;
}

.productColor {
	color: #66CCFF
}

.dummyColor {
	color: #CC6633
}


.dashboard-total-container {
	width: 100%;
	height: 100%; 
	margin: 0px auto;
}

.dashboard-body-container{
	
	width: 100%;
	height: calc(100% - 5px);
}
